html {

    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url("AdobeStock_158726958.jpeg");
    background-size: cover;
    background-position-x: 25%;
    background-repeat: no-repeat;
    margin:0px;
}

#navbarDesktop{
    display: none;
}

#navbarMobile{
    display: block;
    position: sticky;
    top:0;
    height:20vh;
}

.navHeader{
    margin-left:1rem;
    padding-top: 3rem;
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
}
button{
    background: transparent;
    border: none;
}
.container {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 1rem;
    display: inline-block;
    cursor: pointer;
    height: 100%;
}
#information{
    width: 60%;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.navbarContainer{
    top:0;
    left:0;
    display:flex;
    align-items: center;
    background-color: black;
    width: 100%;
    padding-bottom: .25rem;
    flex-wrap: wrap;
    border-bottom: white solid 1px;
}
.navbarContainer span,h1{
    font-size: 1.5rem;
    color: white;
}
h1{
    font-weight: lighter;
}

.navItem{
    opacity: 0;
    overflow-wrap: break-word;
}

.animate{
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
    opacity: 1;
}

form{
    display:grid;
    grid-template: 
    'emailLabel emailInput'
    'subjectLabel subjectInput'
    'messageLabel empty'
    'message message'
    'button blank';
    grid-template-columns: 20% auto;
    row-gap: 1rem;
    height:100%;
}

#contactEmailLabel{
    grid-area: emailLabel;
}

#subjectLabel{
    grid-area: subjectLabel;
}

form input,form textarea{
    padding:5px;
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;
    color: white;
}

form input{
    width:30%;
}
#emailInput{
    grid-area: emailInput;
}

#subject{
    grid-area: subjectInput;
}

#messageLabel{
    grid-area: messageLabel;
}

form textarea{
    grid-area: message;
    height:20vh;
}

form button{
    grid-area: button;
    height:max-content;
    padding: 5px;
    border: 1px solid white;
    background: transparent;
    border-radius: 20px;
    color:white;
    font-weight: bold;
    font-family: 'Montserrat', 'Georgia','Times New Roman',sans-serif;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navList{
    max-height: 0px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}
@keyframes growDown {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes growDown {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes growDown {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes growDown {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes growDown {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#navListMobile > a{
    visibility: hidden;
}
.navItem, #name, #email{
    color:white;
    font-size:1.25rem;
    font-family: 'Courier New', Courier, monospace;
    display:block;
    text-decoration: none;
}
#nameMobile{
    margin-left: 1vw;
    margin-right: 3vw;
}

.navList:hover .navList:focus > .navItem{
    opacity: 0.3;
}

.navList:hover .navList:focus > .navItem:hover{
    opacity: 1.0;    
}

.navItem{
    padding: 2vh 2vw 2vh 2vw;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 0px auto;
}
#sectionContainer{
    color: white;
}
section{
    scroll-margin-top: 20vh;
    font-family: 'Montserrat', 'Georgia','Times New Roman',sans-serif;
    padding:1vh 1vw 1vh 1vw;
    margin-bottom: 5vh;
    background: linear-gradient(0deg , rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.0));
}

section h2{
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 1px solid white;
}

@media only screen and (min-width: 768px) {

    body{
        background-image: linear-gradient(to left, rgba(12, 12, 12, 0), rgb(0, 0, 0)),url("AdobeStock_158726958.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    #navHeaderDesktop 
    {
        width:90%;
        overflow-wrap: break-word;
        margin: 0px 5% 0px 5%;
    }
    #navHeaderDesktop>span,#navHeaderDesktop>h1{
        padding-left: 0px;
        overflow-wrap: break-word;
    }
    #navbarDesktop{
        display: block;        
        height:auto;
    }
    #navbarMobile{
        display: none;
    }
    .navbarContainer{
        position: fixed;
        width: 15%;
        border-bottom: 0px;
        height: 100%;
    }
    .navbarContainer span,h1{
        padding-left: 5%;
        margin-right: 1rem;
        background-color: transparent;
    }
    #navListDesktop{
        align-self: self-start;
        width:100%;
        max-height: 100vh;
    }
    .navItem{
        opacity: 1;
    }
    .navList:hover > .navItem{
        opacity: 0.3;
    }
    
    .navList:hover > .navItem:hover{
        opacity: 1.0;    
    }

    section{
        margin-bottom: 15rem;
        margin-top: 5rem;
        -moz-box-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
        background: rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        max-width: 50vw;
    }
    section h2{
        padding-top: 0px;
    }
    br{
        height:auto;
    }
}